@page "/tickets"
@using System.Collections
@attribute [Authorize]

<PageTitle>Tickets</PageTitle>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Oggetto</th>
            <th>Stato</th>
            <th>Priorità</th>
            <th>Assegnato</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Tick)
        {
            <tr>
                <td>@ticket.datiCLiente</td>
                <td>@ticket.assegnatario</td>
                <td>@ticket.richiedente</td>
                <td>@ticket.Lurgenza</td>
                <td>@ticket.categoria</td>
                <td>@ticket.descrizioneDettagliata</td>
            </tr>
        }
    </tbody>
</table>

@code{
    List<Ticket> Tick = new List<Ticket>();
}
